@font-face {
    font-family: 'DSEG14 Classic Local';
    src: url('fonts/DSEG/DSEG14Classic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#calculator-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 270px;
}

#calculator-body #screen {
    display: grid;
    position: relative;
    width: 310px;
    height: 100px;
    /* background-color: #9cb2a7; */
    /* border: 5px solid #222; */
    border-radius: 4px;
    /* padding: 10px; */
    /* box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
    margin-bottom: 10px;
}

#calculator-body #screen #screen-bg,
#calculator-body #screen #screen-text {
    font-family: 'DSEG14 Classic Local', sans-serif;
    font-size: 42px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 1px;
}

#calculator-body #screen #screen-bg {
    color: rgba(0, 0, 0, 0.12);
}

#calculator-body #screen #screen-text {
    color: rgba(10, 20, 10, 0.85);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#calculator-body #buttons {
    display: flex;
    flex-direction: row;
}

#calculator-body #buttons #num-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 200px;
    width: 200px;
}

#calculator-body #buttons #op-buttons {
    display: flex;
    flex-direction: column;
}

#calculator-body #buttons #op-buttons #op-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 95px;
    width: 100px;
}

#calculator-body #buttons #op-buttons #equal-section {
    display: grid;
    height: 95px;
    width: 100px;
    margin-left: 10px;
}